doc/_build
*.pyc
*/*.pyc
*/*/*.pyc
*.swo
*/*.swo
*/*/*.swo
*.swp
*/*.swp
*/*/*.swp
*.swn
*/*.swn
*/*/*.swn
*.swm
*/*.swm
*/*/*.swm
*/*.so
*/*.c
build
bcfind/scripts/total_eval_perf.py
bcfind/scripts/make_sup_oneview_dataset.py
